@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v121/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	vertical-align: middle;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "Noto Sans TC", sans-serif;

	background-color: #5e747f;
	background-image: url("./assets/flag.svg");
	background-position: -500px 0;
	background-repeat: repeat-x;
	background-size: 400px;

	min-height: 100vh;
	display: flex;
	justify-content: center;
}

header {
	margin-top: 13em;
}

h1 {
	color: #fff;
}

main {
	width: 60%;
	padding: 2em;
	color: #333;
}

section {
	background-color: #f6f6f6;
	border-radius: 15px;
	padding: 2em;
	margin: 2em 0;
	line-height: 1.7em;

}

section.center {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* Button & Links */

a {
	color: #809cbb;
}

a.button {
	display: inline-block;

	margin: 0.5em 0;

	background-color: #809cbb;
	line-height: 3em;
	min-width: 10em;
	border-radius: 10px;

	font-weight: 700;
	font-size: 1.3em;
	text-decoration: none;
	text-align: center;
	color: #FFF;
}

/* Cards */

div.cardpanel {
	display: grid;
	grid-template-columns: repeat(auto-fill, 16em);
	justify-content: center;
	grid-gap: 3em;
}

.card {
	background-color: #e7e7e7;
	border-radius: 15px;

	display: inline-flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
	padding: 0em;
}

.card > div {
	box-sizing: border-box;
	width: 100%;
	padding: 15px;

	line-height: 1.3em;
}

.card > .score {
	text-align: center;
	font-size: 2em;
}

.card > .score > .denominator {
	font-size: 0.4em;
}

.card > .subject {
	background-color: rgb(240, 219, 161);
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	
	text-align: justify;
	font-size: 0.9em;
	font-weight: 400;
}

.card > .answer,
.card > .score {
	flex-grow: 1;
}

.card > .info {
	display: inline-block;
	justify-self: flex-end;
	color: white;
	background-color: #809cbb;
	border-radius: 0;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.card > .info > .clickable {
	font-weight: 800;
	text-decoration: underline dashed;
	cursor: pointer;
}

.card > .info > .detail {
	display: block;
	font-size: 0.9em;
	text-align: justify;
	text-justify: inter-ideograph;
	line-height: 1.6em;

	padding-top: 0.8em;

	max-height: 25em;
	transition: all 0.3s linear;

	overflow: hidden;
}

.card > .info > .detail.hide {
	padding: 0;
	max-height: 0;
}

.card > .info > .clickable::after {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	display: inline-block;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;
	content: "\E5CE";
}

.card > .info > .clickable.toShow::after {
	content: "\E5CF";
}

@media (max-width: 650px) {
	main {
		width: 90%;
	}
}

@media (max-width: 1550px) {
	main {
		width: 85%;
	}
}
